body{
 background-color: #30302e;  
 margin: 0 auto 0 auto;  
 width:100%; 
 text-align:center;
 margin: 20px 0px 20px 0px; 
  }
  
  a{
    font-family:Rockwell;
    margin: 0px 0px 0px -0px;  
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }
    
    a:hover {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
      transform: translate3d(0, 2px, 0);
    }
    
    a:focus {
      box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    }


  
  p{
    font-size:12px;
    text-decoration: none;
    color:#ffffff;
  }
  
  h1{
    font-size:1.5em;
    color: white;
  }

  h2{
    color: white;
  }

  input{
    margin-bottom: 8px;
    width: 180px;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
  }
  input:active,
  input:hover,
  input:focus{
    border-bottom: 3px solid;
  }
  input[type=submit] {
    margin: 10px 0px 00px 00px;  
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family:Rockwell;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }

  
  input[type=submit]:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  input[type=submit]:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  label {
    font-family:Rockwell;
    display: block;
    font-size: 16px;
    margin-bottom: 8px;
    color: white;
}

 